{% extends 'base.html' %}
{% block back  %}
         
<a href="{% url url %}" class="btn btn-link">
    <i class="fa fa-arrow-left"></i> Regresar
</a>


{% endblock  %}
{% block content %}






<div class="container-fluid">

    <div class="modal fade" id="tutorModal" tabindex="-1" aria-labelledby="tutorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tutorModalLabel">Asignar Tutor a: </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="formTutor" novalidate>
                    <div class="modal-body">
                        <select id="tutorSelect" class="form-control" required>
                            <option value="" disabled selected>Seleccione un tutor</option>
                            <!-- Las opciones se llenarán dinámicamente mediante JavaScript -->
                        </select>
                        <div class="invalid-feedback">
                            Por favor seleccione un tutor de la lista.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

  <div class="row">
    <!-- Total de Estudiantes -->
    <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{ total_estudiantes }}</h3>
                <p>Total de Estudiantes</p>
            </div>
            <div class="icon">
                <i class="ion ion-university"></i>
            </div>
        </div>
    </div>
    <!-- Total de Maestría -->
    <div class="col-lg-4 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{ total_maestria }}</h3>
                <p>Total de Maestría</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-bookmarks"></i>
            </div>
        </div>
    </div>
    <!-- Total de Doctorado -->
    <div class="col-lg-4 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>{{ total_doctorado }}</h3>
                <p>Total de Doctorado</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-book"></i>
            </div>
        </div>
    </div>
</div>







    <a href="{% url 'register_user' %}" class="btn btn-success">Registrar Alumno</a>
    <div class="card mt-3">
      
        <div class="card-header">
            <h3 class="card-title">Alumnos</h3>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-3 col-12"> <!-- Ajusta para ocupar la mitad de la anchura en pantallas medianas y grandes, y todo el ancho en pantallas pequeñas -->
                <form method="get" action="{% url 'alumnos-list' %}" class="mb-3">
                    <div class="form-group">
                        <select name="posgrado_id" class="form-control" onchange="this.form.submit()">
                            <option value="">Seleccione un Posgrado</option>
                            {% for posgrado in posgrados %}
                                <option value="{{ posgrado.id }}" {% if request.GET.posgrado_id == posgrado.id|stringformat:"s" %}selected{% endif %}>
                                    {{ posgrado.nombre }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
        </div>
        
            <!-- Envoltura de desplazamiento para la tabla -->
            <div style="overflow-x: auto;">
                <table id="tabla" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Número de Control</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Posgrado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in alumnos %}
                        <tr>
                            <td>{{ user.username|upper }}</td>
                            <td>{{ user.get_full_name|upper }}</td>
                          
                            <td>{{ user.email }}</td>
                            <td>{{ user.posgrado_alumno.nombre|default:"No asignado" }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Acciones de usuario">

                                    {% if user.has_tutor %}
                                    <a href="#" class="btn btn-secondary mr-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Tutor Asignado" onclick="showTutorInfo('{{ user.tutor_name }}')">
                                        <i class="fas fa-user-check"></i>
                                    </a>
                                    {% else %}
                                    <a href="#" class="btn btn-success mr-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Asignar Tutor" onclick="openTutorModal({{ user.id }}, '{{ user.get_full_name|escapejs }}')">
                                        <i class="fas fa-user-friends"></i>
                                    </a>
                        
                                    {% endif %}

                                    <a href="{% url 'editar-usuario' user.id %}" class="btn btn-primary mr-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    
                                    <!-- Formulario para eliminar el usuario -->
                                    <form action="{% url 'eliminar-alumno' user.id %}" method="POST" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                    
                                    <a href="#" class="btn btn-info ml-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Detalles">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                </div>
                                
                          </td>
                          
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




{% endblock %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>

<script>
    function showTutorInfo(tutorName) {
        Swal.fire({
            title: 'Tutor Asignado',
            html: `El tutor asignado es <strong>${tutorName}</strong>`,  // Uso de 'html' en lugar de 'text'
            icon: 'info',
            confirmButtonText: 'Cerrar'
        });
    }
    
    function openTutorModal(userId, userName) {
        $('#tutorModal').modal('show');
        $('#formTutor').attr('data-user-id', userId);
        $('#tutorModalLabel').html(`Asignar Tutor a: <strong>${userName}</strong>`);
    
        // Hacer la petición AJAX para obtener los docentes basado en el posgrado del alumno
        $.ajax({
            url: `/usuarios/get-docentes/${userId}/`,  // Asegúrate de ajustar esta URL según tu configuración
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                var select = $('#tutorSelect');
                select.empty();
                select.append($('<option>', { value: '', text: 'Seleccione un tutor', selected: true, disabled: true }));
                response.docentes.forEach(function(docente) {
                    select.append($('<option>', { value: docente.id, text: docente.name }));
                });
            },
            error: function() {
                alert('Error al cargar los docentes');
            }
        });
    }
    
    $('#tutorModal').on('shown.bs.modal', function () {
        $('#formTutor').removeClass('was-validated');
    });

    

    </script>
    

{% endblock script %}





