{% extends 'base.html' %}
{% block back  %}
         
<a href="{% url url %}" class="btn btn-link">
    <i class="fa fa-arrow-left"></i> Regresar
</a>


{% endblock  %}
{% block content %}






<div class="container-fluid">



  <div class="row">
    <!-- Total de Estudiantes -->
    <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{ total_estudiantes }}</h3>
                <p>Total de Estudiantes</p>
            </div>
            <div class="icon">
                <i class="ion ion-university"></i>
            </div>
        </div>
    </div>
    <!-- Total de Maestría -->
    <div class="col-lg-4 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{ total_maestria }}</h3>
                <p>Total de Maestría</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-bookmarks"></i>
            </div>
        </div>
    </div>
    <!-- Total de Doctorado -->
    <div class="col-lg-4 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>{{ total_doctorado }}</h3>
                <p>Total de Doctorado</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-book"></i>
            </div>
        </div>
    </div>
</div>







    <a href="{% url 'register_user' %}" class="btn btn-success">Registrar Alumno</a>
    <div class="card mt-3">
      
        <div class="card-header">
            <h3 class="card-title">Alumnos</h3>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-3 col-12"> <!-- Ajusta para ocupar la mitad de la anchura en pantallas medianas y grandes, y todo el ancho en pantallas pequeñas -->
                <form method="get" action="{% url 'alumnos-list' %}" class="mb-3">
                    <div class="form-group">
                        <select name="posgrado_id" class="form-control" onchange="this.form.submit()">
                            <option value="">Seleccione un Posgrado</option>
                            {% for posgrado in posgrados %}
                                <option value="{{ posgrado.id }}" {% if request.GET.posgrado_id == posgrado.id|stringformat:"s" %}selected{% endif %}>
                                    {{ posgrado.nombre }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
        </div>
        
            <!-- Envoltura de desplazamiento para la tabla -->
            <div style="overflow-x: auto;">
                <table id="tabla" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Número de Control</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Posgrado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in alumnos %}
                        <tr>
                            <td>{{ user.username|upper }}</td>
                            <td>{{ user.get_full_name|upper }}</td>
                          
                            <td>{{ user.email }}</td>
                            <td>{{ user.posgrado_alumno.nombre|default:"No asignado" }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Acciones de usuario">

                                    <a href="#" class="btn btn-success mr-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Asignar Tutor">
                                        <i class="fas fa-user-friends"></i>
                                    </a>

                                    <a href="{% url 'editar-usuario' user.id %}" class="btn btn-primary mr-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    
                                    <!-- Formulario para eliminar el usuario -->
                                    <form action="{% url 'eliminar-alumno' user.id %}" method="POST" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                    
                                    <a href="#" class="btn btn-info ml-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Detalles">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                </div>
                                
                          </td>
                          
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




{% endblock %}


{% block script %}


<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>

{% endblock script %}





