<!-- templates/users/anexo_detail.html -->

{% extends 'base.html' %}

{% block back %}
<a href="{% url 'semestre-detail' alumno.id semestre.numero %}" class="btn btn-link">
    <i class="fa fa-arrow-left"></i> Regresar
</a>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card mb-4">
        <div class="card-header">
            <h3>{{ anexo_nombre }} - Semestre {{ semestre.numero }} - {{ alumno.get_full_name|upper }}</h3>
        </div>
        <div class="card-body">
            <!-- Detalles del anexo -->
            <p><strong>Estado:</strong> {{ anexo.get_estado_display }}</p>
            <p><strong>Fecha de Creación:</strong> {{ anexo.fecha_creacion|date:"d/m/Y H:i" }}</p>
            {% if anexo.fecha_finalizacion %}
                <p><strong>Fecha de Finalización:</strong> {{ anexo.fecha_finalizacion|date:"d/m/Y H:i" }}</p>
            {% endif %}
            <p><strong>Observaciones:</strong> {{ anexo.observaciones|default:"Sin observaciones" }}</p>
            {% if anexo.archivo %}
                <p><strong>Archivo Subido:</strong> <a href="{{ anexo.archivo.url }}">Descargar</a></p>
            {% endif %}

            <!-- Botones de acción -->
            {% if puede_editar_anexo %}
                <div class="mt-3">
                    <a href="{% url 'anexo-edit' alumno.id semestre.numero anexo_nombre %}" class="btn btn-primary">Editar {{ anexo_nombre }}</a>
                    <a href="{% url 'generar_anexo_pdf' alumno.id semestre.numero anexo_nombre %}" target="_blank" class="btn btn-danger">
                        <i class="fas fa-file-pdf"></i> Generar PDF
                    </a>
                
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
