{% extends 'base.html' %}
{% block back %}
<a href="{% url url %}" class="btn btn-link">
    <i class="fa fa-arrow-left"></i> Regresar
</a>
{% endblock %}
{% block content %}

<!-- Modal para mostrar detalles del docente -->
<div class="modal fade" id="detallesDocenteModal" tabindex="-1" aria-labelledby="detallesDocenteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles del Docente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <h5 id="docenteNombre"></h5>
                <h6>Alumnos Asignados:</h6>
                <div id="docenteAlumnos">
                    <!-- Lista de alumnos será insertada aquí -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <!-- Total de Docentes -->
        <div class="col-lg-4 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{ total_docentes }}</h3>
                    <p>Total de Docentes</p>
                </div>
                <div class="icon">
                    <i class="ion ion-university"></i>
                </div>
            </div>
        </div>
        <!-- Total de Maestría -->
        <div class="col-lg-4 col-6">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ total_maestria }}</h3>
                    <p>Total de Maestría</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-bookmarks"></i>
                </div>
            </div>
        </div>
        <!-- Total de Doctorado -->
        <div class="col-lg-4 col-6">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>{{ total_doctorado }}</h3>
                    <p>Total de Doctorado</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-book"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="{% url "register_user_docente" %}" class="btn btn-success">Registrar Docente</a>
    <div class="card mt-3">
        <div class="card-header">
            <h3 class="card-title">Docentes</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 col-12">
                    <form method="get" action="{% url 'docentes-list' %}" class="mb-3">
                        <div class="form-group">
                            <select name="posgrado_id" class="form-control" onchange="this.form.submit()">
                                <option value="">Seleccione un Posgrado</option>
                                {% for posgrado in posgrados %}
                                    <option value="{{ posgrado.id }}" {% if request.GET.posgrado_id == posgrado.id|stringformat:"s" %}selected{% endif %}>
                                        {{ posgrado.nombre }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div style="overflow-x: auto;">
                <table id="tabla" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Número de Control</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Posgrado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in docentes %}
                        <tr>
                            <td>{{ user.username|upper }}</td>
                            <td>{{ user.get_full_name|upper }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                {% if user.posgrado_docente.all %}
                                {% for posgrado in user.posgrado_docente.all %}
                                    <span class="badge bg-secondary">{{ posgrado.nombre }}</span><br>
                                {% endfor %}
                            {% else %}
                                <span class="badge bg-light text-dark">No asignado</span>
                            {% endif %}
                            
                            
                            </td>                            <td>
                              <div class="btn-group" role="group" aria-label="Acciones de usuario">
                                  <a href="{% url "editar-docente" user.id%}" class="btn btn-primary mr-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                                      <i class="fas fa-edit"></i>
                                  </a>
                               
                                <form action="{% url 'eliminar-docente' user.id %}" method="POST" style="display:inline;" class="delete-form" data-docente-name="{{ user.get_full_name|escapejs }}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger delete-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>



                                <a href="#" class="btn btn-info ml-1 btn-detalles-docente" data-bs-toggle="tooltip" data-bs-placement="top" title="Detalles"
                                data-docente-id="{{ user.id }}"
                                data-docente-name="{{ user.get_full_name|escapejs }}">
                                 <i class="fas fa-info-circle"></i>
                             </a>
                              </div>
                          </td>
                        </tr>

                        <!-- Div oculto con la lista de alumnos asignados al docente -->
                        <div class="docente-alumnos" id="docente-alumnos-{{ user.id }}" style="display: none;">
                            {% if user.tutorados.all %}
                                <ul class="list-group">
                                    {% for tutor in user.tutorados.all %}
                                        <li class="list-group-item">{{ tutor.alumno.get_full_name }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>No tiene alumnos agregados actualmente.</p>
                            {% endif %}
                        </div>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- Incluye SweetAlert2 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Incluye jQuery -->



<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
  })



  $('.delete-form').on('submit', function(event) {
        event.preventDefault(); // Prevenir el envío inmediato del formulario

        var form = this;
        var docenteName = $(this).data('docente-name');

        Swal.fire({
            title: '¿Estás seguro?',
            html: `¿Deseas eliminar al docente <strong>${docenteName}</strong>?<br><strong>¡Esta acción no se puede deshacer!</strong>`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                // Si el usuario confirma, enviar el formulario
                form.submit();
            }
            // Si el usuario cancela, no hacer nada
        });

    });

$('.btn-detalles-docente').on('click', function(event) {
    event.preventDefault(); // Prevenir la acción por defecto del enlace

    var docenteId = $(this).data('docente-id');
    var docenteName = $(this).data('docente-name');

    // Obtener el contenido de la lista de alumnos desde el div oculto
    var alumnosContent = $('#docente-alumnos-' + docenteId).html();

    $('#docenteNombre').text(docenteName);
    $('#docenteAlumnos').html(alumnosContent);

    $('#detallesDocenteModal').modal('show');
});
</script>
{% endblock script %}
